@font-face {
    font-family: Karmatic Arcade;
    src: url(fonts/ka1.ttf);
}
@font-face {
    font-family: Arcade Classic;
    src: url(fonts/VCR_OSD_MONO_1.001.ttf);
}


.transition-height {
    transition: height 0.2s ease; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #AB89AA;
    text-decoration: none;
}

p {
    font-family: Arcade Classic;
    background-color: transparent;
    font-weight: 200;
}
h4 {
    background-color: transparent;
    font-weight: 200;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

button:hover{
    filter: brightness(70%);
}

header {
    display: flexbox;
    position: fixed;
    width: 61.98em;
    height: 8em;
    top: 3%;
    left: 9.5%;
    z-index: 1;
}
.popup {
    position: relative;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 2.5%;
    margin-top: -.8em;
    z-index: 0;
    
}

.popup-bar {
    display: block;
    position: relative;
    background-color: #2F3356;
    height: 2em;
    width: 55em;
    bottom: .25em;
    left: .35em;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 5px 8px 0px #1C2120;
}

.popup-bar p {
    position: relative;
    width: fit-content;
    height: fit-content;
    color: #F6F8F7;
    top: 25%;
    left: 2.5%;
    letter-spacing: 2px;
}


#popup-close-button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid #1C2120;
    border-radius: 5px;
    left: 96%;
    top: -.6rem;
    background-color: #FF5471;
    
}
#popup-close-button::after,

#popup-close-button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px;
}

#popup-close-button::after {
    transform: rotate(-45deg);
}

#popup-path-button {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: scale(var(--ggs,1));
    transform: scale(1.15) rotate(90deg);
    width: 14px;
    height: 14px;
    background-color: transparent;
    left: 93.5%;
    top: -1.7rem;
    color: #ffffff;
}

#popup-path-button::after,
#popup-path-button::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    
}
#popup-path-button::after {
    border-left: 5px solid;
    border-top: 5px solid;
    background-color: #F6F8F7;
}
#popup-path-button::before {
    border: 1.5px solid ;
    bottom: 0;
    right: 0;
}

#popup-minimize-button {
    transform: scale(var(--ggs,1));
    top: -2.5rem;
    left: 89.5%;
    background-color: transparent;
    color: #F6F8F7;
}
#popup-minimize-button,
#popup-minimize-button::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 17px;
    height: 17px;
}
#popup-minimize-button::before {
    content: "";
    position: absolute;
    height: 2px;
    top: 12px;
    border-top: 2px solid;
}

.logo-popup {
    position: relative;
    background-position: center;
    background-size: cover;
    width: auto;
    height: 6em;
    background-color: #F6F8F7; 
    box-shadow: 5px 5px 0px #1C2120;
    bottom: 2.3em;
    left: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    
}

.logo h1{
    position: relative;
    margin: auto;
    text-align: center;
    width: 14em;
    bottom: -13px;
    letter-spacing: 4px;
    font-family: Karmatic Arcade;  
    font-size: 54px;
    color: #1C2120; 
    background-color: transparent;   
}




#ask {
    position: relative;
     text-align: center;
      bottom: 20px;
       font-family: Arcade Classic;
        font-size: .9em;  
         background-color: transparent;
          
}   

#a { 
    position: relative;
    animation: wave .8s ease-in-out infinite alternate; 
    background-color: transparent;
}
#s {
    position: relative;
    animation: wave .8s ease-in-out 0.12s infinite alternate; 
    background-color: transparent;
}
#k {
    position: relative;
    animation: wave .8s ease-in-out 0.24s infinite alternate; 
    background-color: transparent;
}


.sqr-box-top {
    display: flex;
    flex-direction: row;
    position: fixed;
    height: auto;
    width: auto;
    gap: 1em;
    margin: 1em;
    top: 14.1%;
    left: 36%;
    justify-content: space-between;
    background-color: transparent;
}

.sqr-box-links {
    display: flex;
    position: fixed;
    flex-direction: row;
    gap: 1rem;
    position: static;
    height: auto;
    width: 13rem;
    margin-top: 10.1%;
    margin-left: 72.3%;
    justify-content: center;
    background-color: transparent;
}

.square {
    display: flex;
    position: relative;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    top: auto;
    background: #2F3356;
    box-shadow: 10px 8px 0px 0px rgba(28,33,32,1);
}

.square img {
    position: absolute;
    max-width: 80%;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    background-color: #2F3356;
}

.subtitle-box-top {
    display: block;
    position: fixed;
    justify-content: center;
    top: 15.8%;
    left: 13%;
    width: 27em;
    height: 2rem;
    background-color: #2F3356;
    box-shadow: 10px 8px 0px 0px rgba(28,33,32,1);
    
}

.subtitle-box-top h2{
    position: relative;
    margin: auto;
    top: .4rem;
    text-align: center;
    font-size: 22px;
    font-family: Arcade Classic;
    font-weight: 400;
    color: #F6F8F7;
    word-spacing: 9px;
    background-color: transparent;
}

.computer-screen {
    display: inline-block;
    position: static;
    height: 3em;
    width: 63em;
    margin-top: 8.2%;
    margin-left: 10%;  
    color: transparent;
}
.screen-border{
    display: block;
    position: static;
    width: 57.5em;
    height: 33.5em;
    border: 1.35rem solid;
}

#left-border {
    display: block;
     position: relative;
      width: 1.5em;
       height: 34.85em;
        bottom: 1.35em;
         right: 1.5em;
          background-color: #D6C6E3;
           box-shadow: 7px 0px 0px 0px #1C2120;
}

#left-trapezoid-1 {
    position: fixed;
     margin-top: 15.5rem;
      margin-left: -5em;
       border-bottom: 38px solid #D6C6E3;
        border-left: 35px solid transparent;
         border-right: 35px solid transparent;
          height: 0;
           width: 130px;
            transform: rotate(-90deg);
             background-color: transparent;
}


#right-border {
    display: block;
     position: relative;
      width: 1.5em;
       height: 35.69em;
        bottom: 37.0em;
         left: 56.9em;
          background-color: #D6C6E3;
           box-shadow: 7px 0px 0px 0px #1C2120;
}


#right-trapezoid-1 {
    position: fixed;
     margin-top: 10rem;
      margin-left: -5.75em;
       border-bottom: 25px solid #825471;
        border-left: 35px solid transparent;
         border-right: 35px solid transparent;
          height: 0;
           width: 260px;
            transform: rotate(90deg);
             background-color: transparent;
              filter: drop-shadow(10px -5px 0px #1C2120);
}
#right-trapezoid-2 {
    position: fixed;
     margin-top: 20rem;
      margin-left: -1.5em;
       border-bottom: 38px solid #D6C6E3;
        border-left: 35px solid transparent;
         border-right: 35px solid transparent;
          height: 0;
           width: 130px;
            transform: rotate(90deg);
             background-color: transparent;
              filter: drop-shadow(5px -5px 0px #1C2120);
}

#right-inner-border {
    position: fixed;
     margin-top: 28em;
      margin-left: 0%;
       background: transparent;
        border-radius: 30%;
         width: 7em;
          height: 7em;
           border: 1.35rem solid;
            color: #D6C6E3;
             box-shadow: 5px 5px 0px #1C2120;
              z-index: -1;
}

#right-inner-screen {
     margin-top: auto;
      margin-left: 0;
       width: 75px;
        height: 75px;
         box-shadow: 0px -5px 0px #1C2120;

         animation: color-gradient .8s ease-in-out infinite alternate ;
}


#upper-border {
    display: block;
     position: relative;
      width: 59.9em;
       height: 1.35em;
        bottom: 1.35em;
         right: 1.5em;
          background-color: #D6C6E3;
           box-shadow: 0px 5px 0px #1C2120;
}

#bottom-border {
    display: block;
     position: relative;
      width: 59.9em;
       height: 1.4em;
        bottom: 38.39em;
         right: 1.5em;
          background-color: #D6C6E3;
           box-shadow: 7px 5px 0px #1C2120;
}

aside {
    display: block;
    position: fixed;
    width: 42em;
    height: 58.5em;
    margin-left: 65%;
    margin-top: -11%;
    background-color: transparent;
}

.semblance-box {
    position: fixed;
    margin-top: 8.5%;
    margin-left: 5%;
    width: 20em;
    height: 32.8em;
    background-color: #D6C6E3;
    box-shadow: 7px 5px 0px #1C2120;
}

.pixel-art {
    position: fixed;
    max-width: 18em;
    max-height: 17em;
    width: 17.6em;
    height: auto;
    margin-left: .9%;
    margin-top: 1.1%;
    background-color: #565b85;

    border: #1C2120 solid 1px;
}



.semblance-box-text {
    display: flex;
    flex-direction: column;
    gap: .4em;
    position: fixed;
    width: 16.9em;
    height: 8.5em;
    
    margin-top: 19.3%;
    margin-left: .85%;
    background-color: #1C2120;

    font-family: Arcade Classic;
    color: #F6F8F7;
    font-size: 17px;
}

#nickname {
    position: fixed;
    height: 1.5em;
    width: 13em;
    margin-top: 16.4%;
    margin-left: .85%;
    background-color: #825471;
    border: 1px solid #1C2120;

    text-align: center;
    padding-top: 5px;
    color: #F6F8F7;
    font-weight: 600;
    font-size: 22px;
    text-shadow: 2px 2px 1px #1C2120;    
    font-family: Arcade Classic;
}

.char-name{
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    background-color: #1C2120;
    margin: 1rem;
    margin-top: .5;
    margin-bottom: 0;
    
}

.char-birthday {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    background-color: #1C2120;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.char-band {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    background-color: #1C2120;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}
.char-power {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    background-color: #1C2120;
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

#strong-item-text strong {
    text-align: center;
    position: relative;
    left: 1.4em;
    top: .3em;
    color: #D6C6E3;
    background-color: transparent;
    white-space: nowrap;
    font-size: 13px;
    letter-spacing: 5.2px;
}

.semblance-box-right-trapeze {
    position: absolute;
     margin-top: 11rem;
      margin-left: 14.25em;
       border-bottom: 25px solid #825471;
        border-left: 15px solid transparent;
         border-right: 20px solid transparent;
          height: 0;
           width: 210px;
            transform: rotate(90deg);
             background-color: transparent;
              filter: drop-shadow(5px -4px 0px #1C2120);
}
.semblance-box-bottom-trapeze {
    position: absolute;
     margin-top: 32.5rem;
      margin-left: 2.5em;
       border-bottom: 35px solid #D6C6E3;
        border-left: 15px solid transparent;
         border-right: 15px solid transparent;
          height: 0;
           width: 210px;
            background-color: transparent;
             filter: drop-shadow(-5px -5px 0px #1C2120);
              transform: rotate(180deg);

}

footer {
    position: fixed;
    background-color: transparent;
    height: 11em;
    width: 60.2em;
    margin-top: 28.5%;
    margin-left: 9.5%;
}

.dialog-box {
    position: relative;
    background-color: #D6C6E3;
    height: 11em;
    width: 57em;
    left: 1.25em;
    transform: skew(-20deg);
    filter: drop-shadow(7px 5px 0px #1C2120);   
}
.d-s-bottom-border-radius {
    position: fixed;
    width: 0;
    height: 0;
    border-top: 50px solid #D6C6E3;
    border-right: 50px solid transparent;
    left: 53.9em;
    bottom: -.09em;
    filter: drop-shadow(6px 6px 0px #2F3356);
}

.dialog-screen {
    display: block;
    position: fixed;
    background-color: #1C2120;
    height: 7em;
    width: 48em;
    transform: skew(20deg); 
    left: 3em;
    top: 2em;
    border: #825471 5px solid;
}

#dialog-text {
    position: relative;
    width: 23.65em;
    color: #F6F8F7;
    top: 27%;
    left: 3%;
    word-spacing: .01em;
    background-color: transparent;
    font-size: 30px; 
    font-family: Arcade Classic;

    overflow: hidden;
    border-right: .4rem solid #F6F8F7;
    animation:  
    typing 2.5s steps(30, end) 0s,
    blink-caret .75s step-end infinite;
    white-space: nowrap;
   }    

.screen-button-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 3em;
    height: 11em;
    margin-left: 92%;
    transform: skew(20deg);
    background-color: transparent;
}

.dialog-screen-buttom {
    position: relative;
    height: .7em;
    top: 10px;
    border-radius: 20%;
    background-color: #5EBB8E;
    filter: drop-shadow(2px 2px 0px #1C2120);
}
    
#first-screen-button {
    display: block;
    position: fixed;
    width: 55em;
    height: .9em;
    
    margin-top: 20%;
    margin-left: -51.9em;
    background-color: #2F3356;
    box-shadow: 2px 2px 0#1C2120;
    z-index: 1;
}

/*TV SCREEN*/

#crt:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(18, 16, 16, 0) 50%,
        rgba(0, 0, 0, 0.25) 50%
    );
    background-size: 100% 8px;
    z-index: 2;
    pointer-events: none;
}

.scanline {
    width: 100%;
    height: 100px;
    z-index: 3;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(255, 255, 255, 0.2) 10%,
        rgba(0, 0, 0, 0.1) 100%
    );
    position: absolute;
    bottom: 100%;
    animation: scanline 10s linear infinite;
}

#monitor {
    
    width: 60.26em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    margin-top: -3.5em;
    margin-left: 11.5em;
}
#monitor:not(.off) {
	box-shadow: 0.6px 90px 110px -60px var(--bg); /* screen glow */
}

#screen {
    position: relative;
    width: 100%;
    height: 63.5vmin;
    border: 30px solid transparent;
    overflow: hidden;
    background-color: transparent;
}

#screenColor {
    width: 100%;
    height: 100%;
    background-color: #565b85;
}
/*PALETA DE CORES:
verde claro: #5EBB8E
branco: #F6F8F7
preto: #1C2120
azul: #2F3356 
rosa claro: #D6C6E3
rosa escuro: #825471
*/

